<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../public/stylesheets/indexStyles/course.css">
    <link rel="stylesheet" href="../../public/stylesheets/indexStyles/theme.css">
    <script type="module" src="../../public/javascript/jsStaticFiles/course.js" async defer></script>
    <script src="../../public/javascript/jsStaticFiles/theme.js" async defer></script>
    <title>Document</title>
</head>
<body>
    <header class="ch-bg-color">
        <div class="header-container">
            <nav class="courses-nav ch-bg-color">
                <div class="site-name">
                    <h1>monoCourse</h1>
                 </div>
                <ul class="nav-lists">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="" class="active">Courses</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Setting</a></li>  
                </ul>
                <div class="users-bells">
                    <div class="activity">
                        <div class="images">
                            <img src="../../public/images/excited-african-american-student-girl-260nw-2029029113.webp" alt="">
                        </div>
                        <div class="bells">
                            <i class="bi bi-bell"></i>
                            <small></small>
                        </div>
                    </div>
                </div>

                <div class="main-right-bar">
                    <h3 class="bi bi-text-right"></h3>
                </div>
            </nav>
            <div class="courses-bar-container all-selectors">
                <div class="t-course">
                    <h1>Courses</h1>
                </div>
                <div class="courses-bars">
                    <a href="../otherFiles/search.html">
                    <div class="search-icon ch-bg-color">
                        <i class="bi bi-search "></i>
                    </div>
                    </a>
                    <div class="course-b ch-bg-color">
                        <ul>
                            <div class="c-bar">
                                <li>All</li>
                            </div>
                            <div class="c-bar active">
                                <li >Published</li>
                            </div>
                            <div class="c-bar">
                                <li>Draft</li>
                            </div>
                            <div class="c-bar">
                                <li>Archive</li>
                            </div>
                        </ul>
                        <div class="responsive-recency-course"></div>
                    </div>
                    <div class="recency-course">
                        <button>Recency</button>
                        <button>Alpabaticaly</button>
                    </div>
                    <div class="course-right-bar">
                        <h2 class="bi bi-three-dots"></h2>
                    </div>
                </div>
            </div>
        </div>
    </header>



     <!-- main reponsive bar -->
                 

     <div class="main-responsive-bar-container">
        <div class="main-resposive-bar ch-bg-color">
            <div class="users-profil-bar">
                <div class="user-profil">
                    <div class="images">
                        <img src="../../public/images/excited-african-american-student-girl-260nw-2029029113.webp" alt="">
                        <div class="theme">
                            <i class="bi bi-sun"></i>
                            <i class="bi bi-moon"></i>
                        </div>
                    </div>
                    <div class="user-name">
                        <div class="user-id">
                            <h2>luckson premier</h2>
                            <small>+243 821095228</small>
                        </div>
                        <a href=""><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <ul class="responsive-nav-lists responsive-nav">
                <div class="nav-l">
                    <i class="bi bi-house"></i>
                    <a href="../index.html">Home</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-journal-bookmark"></i>
                    <a href="" class="active">Courses</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-pencil-square"></i>
                    <a href="#">Blog</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-gear"></i>
                    <a href="#">Setting</a>
                </div>
            </ul>
            <div class="responsive-nav-lists other-nav-bar-lists">
                <div class="nav-l">
                    <i class="bi bi-person"></i>
                    <a href="">My profil</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-telephone"></i>
                    <a href="" class="active">Contacts</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-person-plus"></i>
                    <a href="#">Invite friends</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-question-circle"></i>
                    <a href="#">Help</a>
                </div>                             
            </div>
        </div>
    </div>



    <!-- end responsive -->



    

    <!-- search bar -->


    

    

    <!-- end search -->
    
    <!--  main  -->


    <main>
        <div class="publish-container all-selectors">
            <div class="Published-courses ch-bg-color">
                <div class="images-course">
                    <img src="../../public/images/Monetize-your-expertise-with-your-own-online-course.-Heres-how.webp" alt="">
                </div>
                <div class="mosted-course">
                    <div class="desc-course">
                        <b>Digital Marketing</b>
                    </div>
                    <div class="course">
                        <h3>A Digital Marketing System</h3>
                        <div class="class-course">
                            <div class="class">
                                <i class="bi bi-book"></i>
                                <small>10 lessons</small>
                            </div>
                            <div class="students">
                                <i class="bi bi-people"></i>
                                <small>5 students</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Published-courses ch-bg-color">
                <div class="images-course">
                    <img src="../../public/images/What-is-UI-UX-Design.jpg" alt="">
                </div>
                <div class="mosted-course">
                    <div class="desc-course">
                        <b>UI/UX Design</b>
                    </div>
                    <div class="course">
                        <h3>Learn UI/UX Design and grow your career</h3>
                        <div class="class-course">
                            <div class="class">
                                <i class="bi bi-book"></i>
                                <small>10 lessons</small>
                            </div>
                            <div class="students">
                                <i class="bi bi-people"></i>
                                <small>5 students</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Published-courses ch-bg-color">
                <div class="images-course">
                    <img src="../../public/images/computer_programming.jpeg.webp" alt="">
                </div>
                <div class="mosted-course">
                    <div class="desc-course">
                        <b>Developement</b>
                    </div>
                    <div class="course">
                        <h3>Learn Web Developement for beginner to pro</h3>
                        <div class="class-course">
                            <div class="class">
                                <i class="bi bi-book"></i>
                                <small>10 lessons</small>
                            </div>
                            <div class="students">
                                <i class="bi bi-people"></i>
                                <small>5 students</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>