<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../public/stylesheets/indexStyles/course.css">
    <script src="../../public/javascript/jsStaticFiles/course.js" async defer></script>
    <title>Document</title>
</head>
<body>
    <header class="header-search-container">
        <div class="search-content-bar">
            <nav class="courses-nav">
                <div class="site-name">
                    <h1>monoCourse</h1>
                </div>
                <ul class="nav-lists">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../platform/course.html" class="active">Courses</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Setting</a></li>  
                </ul>
                <div class="users-bells">
                    <div class="activity">
                        <div class="images">
                            <img src="../../public/images/excited-african-american-student-girl-260nw-2029029113.webp" alt="">
                        </div>
                        <div class="bells">
                            <i class="bi bi-bell"></i>
                            <small></small>
                        </div>
                    </div>
                </div>
                <div class="main-right-bar">
                    <h3 class="bi bi-text-right"></h3>
                </div>
            </nav> 
        </div>
    </header>


     <!-- main reponsive bar -->
                 

     <div class="main-responsive-bar-container">
        <div class="main-resposive-bar">
            <div class="users-profil-bar">
                <div class="user-profil">
                    <div class="images">
                        <img src="../../public/images/excited-african-american-student-girl-260nw-2029029113.webp" alt="">
                        <div class="theme">
                            <i class="bi bi-sun"></i>
                            <i class="bi bi-moon"></i>
                        </div>
                    </div>
                    <div class="user-name">
                        <div class="user-id">
                            <h2>luckson premier</h2>
                            <small>+243 821095228</small>
                        </div>
                        <a href=""><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <ul class="responsive-nav-lists responsive-nav">
                <div class="nav-l">
                    <i class="bi bi-house"></i>
                    <a href="../index.html">Home</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-journal-bookmark"></i>
                    <a href="" class="active">Courses</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-pencil-square"></i>
                    <a href="#">Blog</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-gear"></i>
                    <a href="#">Setting</a>
                </div>
            </ul>
            <div class="responsive-nav-lists other-nav-bar-lists">
                <div class="nav-l">
                    <i class="bi bi-person"></i>
                    <a href="">My profil</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-telephone"></i>
                    <a href="" class="active">Contacts</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-person-plus"></i>
                    <a href="#">Invite friends</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-question-circle"></i>
                    <a href="#">Help</a>
                </div>                             
            </div>
        </div>
    </div>



    <!-- end responsive -->





    <div class="search-container ">
        <div class="search-content" id="search-content">
            <div class="searchs-bar">
                <h2>Search courses</h2>
                <div class="search">
                    <div class="in-put">
                        <button type="button"><i class="bi bi-search"></i></button>
                        <input type="search" name="" id="search-input" placeholder="Enter your search course" autocomplete="off">
                    </div>
                    <a href="../platform/course.html">
                    <div class="back-btn">
                        <button><i class="bi bi-arrow-right"></i></button>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div id="search-result-input">
            
        </div>
    </div>
</body>
</html>