<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
    <script src="../public/javascript/script.js" defer></script> 
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-contaier">
            <nav>
                <div class="site-name">
                    <h1>monoCourse</h1>
                 </div>
                <ul class="nav-lists">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Setting</a></li>  
                </ul>
                <div class="btns-navigations">
                    <div class="see-btns">
                        <button><a href="">Sing in</a></button>
                        <button><a href="">Try for free</a></button>
                    </div>
                </div>
            </nav>
            <div class="thumbenail-content">
                <div class="thumbnail-princ">
                    <div class="thembenail">
                        <div class="thumb-desc">
                            <small>learn anythig online</small>
                            <h1>Professional Learing At Your Home</h1>
                            <p>Discover our extensive library of online courses covering various fields. Take courses at your own pace and earn recognized certifications.</p>
                            <div class="start-btn">
                                <a href=""></a>
                                <button>Get started for free</button>
                                </a>
                            </div>
                        </div>
                        <div class="search-content">
                            <div class="search">
                                <div class="select-input">
                                    <input type="search" name="" id="" placeholder="search course" autocomplete="off">
                                    <select name="" id="">
                                        <option value="#">Categories</option>
                                        <option value="Programming">Programming</option>
                                        <option value="obil">Mobil Network</option>
                                        <option value="UI">UI design</option>
                                        <option value="Marketing">Marketing</option>
                                    </select>
                                </div>
                                <input type="submit" class="search-course" value="search">
                            </div>
                        </div>
                    </div>
                    <div class="thumbenail-image">
                        <div class="ex-class-maker">
                            <div class="saw-about-advantage">
                                <i class="bi bi-arrow-up-left-circle-fill"></i>
                                <div class="advantages-course">
                                    <b>50G+</b>
                                    <p>Verification course</p>
                                </div>
                            </div>
                            <div class="saw-about-students">
                                <i class="bi bi-person-fill"></i>
                                <div class="advantages-study">
                                    <p>about student</p>
                                    <b>10K+</b>
                                    <div class="student-imgs">
                                        <img src="../public/images/191113-happyyoungemployee-stock.jpg" alt="">
                                        <img src="../public/images/young-black-female-student-with-books.png" alt="">
                                        <img src="../public/images/online-courses-what-students-want.jpg" alt="">
                                        <img src="../public/images/girl-watch.png" alt="">
                                        <img src="../public/images/free_online_class.jpeg.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="images">
                            <img src="../public/images/young-black-female-student-with-books-removebg-preview.png" alt="">
                        </div>
                        <div class="saw-about-class">
                            <img src="../public/images/free_online_class.jpeg.webp" alt="">
                            <div class="advantages-class">
                                <b>UI/UX Design class</b>
                                <p>Today ui design 00 pm</p>
                                <button>just now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="companies-content-support">
                <div class="companies-support">
                    <div class="support apple-support">
                        <img src="../public/images/Apple-removebg-preview.png" alt="">
                    </div>
                    <div class="support slake-support">
                        <img src="../public/images/slack-removebg-preview.png" alt="">
                    </div>
                    <div class="support phenix-support">
                        <img src="../public/images/phoennix-removebg-preview.png" alt="">
                    </div>
                    <div class="support google-support">
                        <img src="../public/images/Google-removebg-preview.png" alt="">
                    </div>
                    <div class="support dropbox-support">
                        <img src="../public/images/dropbox-removebg-preview.png" alt="">
                    </div>
                    <div class="support apple-support">
                        <img src="../public/images/Apple-removebg-preview.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- main -->

    <main>
        <div class="main-container">
            <div class="container">
                <div class="main-content">
                    <div class="way-start-learn">
                        <div class="simple-ways">
                            <h1>Simple 3 Way to Start learning</h1>
                            <p>Online education for your advantage.</p>
                        </div>

                        <div class="simple-creations">
                            <div class="simples create-account">
                                <div class="simple user-account">
                                    <i class="bi bi-person"></i>
                                    <h2>Create Account</h2>
                                </div>
                                <p>Create account to start learing to acquire a lot of knowledge.</p>
                            </div>
                            <div class="simples choose-course-to-begin">
                                <div class="simple user-account">
                                    <i class="bi bi-journal-code"></i>
                                    <h2>Choose Course</h2>
                                </div>
                                <p>Choose a lesson of your choice and enjoy more advanced subjects to acquire better knowledge.</p>
                            </div>
                            <div class="simples enjoy-learing-course">
                                <div class="simple user-account">
                                    <i class="bi bi-card-text"></i>
                                    <h2>Enjoy Learing</h2>
                                </div>
                                <p>Your presence in the lesson leads to better results and is beneficial for the future.</p>
                            </div>
                        </div>
                    </div>
                    <div class="pop-course-category">
                        <h2>Popular category course</h2>
                        <div class="pop-category">
                            <div class="graph-design-course">
                                <div class="graph">
                                    <i class="bi bi-vector-pen"></i>
                                </div>
                                <div class="graph-desc">
                                    <h3>Graphic design</h3>
                                    <p>Graphic design education for beginner,
                                        We provide an art of visual composition for your online learning journey.
                                    </p>
                                </div>
                            </div>
                            <div class="graph-design-course">
                                <div class="graph">
                                    <i class="bi bi-router"></i>
                                </div>
                                <div class="graph-desc">
                                    <h3>Company Network</h3>
                                    <p>Graphic design education for beginner,
                                        We provide an art of visual composition for your online learning journey.
                                    </p>
                                </div>
                            </div>
                            <div class="graph-design-course">
                                <div class="graph">
                                    <i class="bi bi-code-square"></i>
                                </div>
                                <div class="graph-desc">
                                    <h3>Developement</h3>
                                    <p>Graphic design education for beginner,
                                        We provide an art of visual composition for your online learning journey.
                                    </p>
                                </div>
                            </div>
                            <div class="graph-design-course">
                                <div class="graph">
                                    <i class="bi bi-megaphone"></i>
                                </div>
                                <div class="graph-desc">
                                    <h3>Marketing et communication</h3>
                                    <p>Graphic design education for beginner, 
                                        We provide an of visual composition for your online learning journey.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="challenge-content">
                    <div class="main-thumb">
                        <div class="main-thum-desc">
                            <div class="main-thumbenail">
                                <div class="main-thumb-desc">
                                    <h1>Are your a certifide teacher then become a instructor</h1>
                                    <p>Discover our extensive library of online courses covering various fields. Take courses at your own pace and earn recognized certifications.</p>
                                </div>
                                <a href="">
                                    <button class="instructor-btn">Become a instructor </button>
                                </a>
                            </div>
                        </div>
                        <div class="main-thum-img">
                            <div class="graduate-course">
                                <h3>+3 milles <br>
                                    graduation courses
                                </h3>
                            </div>
                            <img src="../public/images/young-black-female-student-with-books-removebg-preview.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="most-pop-courses">
                    <div class="most-pop-title">
                        <h2>Most populary courses</h2>
                        <a href="#">Explore more course</a>
                    </div>
                    <div class="pop-courses">
                        <div class="most-courses">
                            <div class="images-course">
                                <img src="../public/images/How_to_Learn_Web_Designing.avif" alt="">
                            </div>
                            <div class="mosted-course">
                                <div class="desc-course">
                                    <b>web design</b>
                                    <small><i class="bi bi-star-fill"></i> 6.1 </small>
                                </div>
                                <div class="course">
                                    <h3>Web design && Devellopement course</h3>
                                    <div class="class-course">
                                        <div class="class">
                                            <i class="bi bi-book"></i>
                                            <small>5 classes</small>
                                        </div>
                                        <div class="students">
                                            <i class="bi bi-people"></i>
                                            <small>5 students</small>
                                        </div>
                                    </div>
                                    <div class="start-course">
                                        <div class="start">get start now</div>
                                        <button>start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="most-courses">
                            <div class="images-course">
                                <img src="../public/images/What-is-UI-UX-Design.jpg" alt="">
                            </div>
                            <div class="mosted-course">
                                <div class="desc-course">
                                    <b>UI/UX Design</b>
                                    <small><i class="bi bi-star-fill"></i> 5.2 </small>
                                </div>
                                <div class="course">
                                    <h3>Learn UI/UX Design and grow your career</h3>
                                    <div class="class-course">
                                        <div class="class">
                                            <i class="bi bi-book"></i>
                                            <small>5 classes</small>
                                        </div>
                                        <div class="student">
                                            <i class="bi bi-people"></i>
                                            <small>5 students</small>
                                        </div>
                                    </div>
                                    <div class="start-course">
                                        <div class="start">get start now</div>
                                        <button>start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="most-courses">
                            <div class="images-course">
                                <img src="../public/images/computer_programming.jpeg.webp" alt="">
                            </div>
                            <div class="mosted-course">
                                <div class="desc-course">
                                    <b>Developement web</b>
                                    <small><i class="bi bi-star-fill"></i> 4.8 </small>
                                </div>
                                <div class="course">
                                    <h3>Web Developement </h3>
                                    <div class="class-course">
                                        <div class="class">
                                            <i class="bi bi-book"></i>
                                            <small>5 classes</small>
                                        </div>
                                        <div class="student">
                                            <i class="bi bi-people"></i>
                                            <small>5 students</small>
                                        </div>
                                    </div>
                                    <div class="start-course">
                                        <div class="start">get start now</div>
                                        <button>start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="most-courses">
                            <div class="images-course">
                                <img src="../public/images/rawpixel-983726-unsplash.jpg" alt="">
                            </div>
                            <div class="mosted-course">
                                <div class="desc-course">
                                    <b>Digital Marketing</b>
                                    <small><i class="bi bi-star-fill"></i> 4.8</small>
                                </div>
                                <div class="course">
                                    <h3>A Digital Marketing System</h3>
                                    <div class="class-course">
                                        <div class="class">
                                            <i class="bi bi-book"></i>
                                            <small>5 classes</small>
                                        </div>
                                        <div class="student">
                                            <i class="bi bi-people"></i>
                                            <small>5 students</small>
                                        </div>
                                    </div>
                                    <div class="start-course">
                                        <div class="start">begin now</div>
                                        <button>start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- our instructor -->
                    
                    <div class="instructor-content">
                        <div class="meet-instructor">
                            <div class="meet-our">
                                <h3>Meet our instructor</h3>
                                <div class="other-instructors">
                                    <a href="" class="left"><i class="bi bi-chevron-left"></i></a>
                                    <a href=""><i class="bi bi-chevron-right"></i></a>
                                </div>
                            </div>                  
                            <div class="meet-all-instructors">
                                <div class="all-instructors">
                                    <div class="imgs imgs-one">
                                        <img src="../public/images/young-black-female-student-with-books-removebg-preview.png" alt="">
                                        <a href="">in</a>
                                    </div>
                                    <div class="name-instructor">
                                        <b>wilondja ebuela wildor</b>
                                        <p>senior web develloper</p>
                                    </div>
                                </div>
                                <div class="all-instructors">
                                    <div class="imgs imgs-two">
                                        <img src="../public/images/young-black-female-student-with-books-removebg-preview.png" alt="">
                                        <a href="">in</a>
                                    </div>
                                    <div class="name-instructor">
                                        <b>wilondja ebuela wildor </b>
                                        <p>senior web develloper</p>
                                    </div>
                                </div>
                                <div class="all-instructors">
                                    <div class="imgs imgs-three">
                                        <img src="../public/images/girl-watch-removebg-preview.png" alt="">
                                        <a href="">in</a>
                                    </div>
                                    <div class="name-instructor">
                                        <b>wilondja ebuela wildor </b>
                                        <p>senior web develloper</p>
                                    </div>
                                </div>
                                <div class="all-instructors">
                                    <div class="imgs imgs-four">
                                        <img src="../public/images/young-black-female-student-with-books-removebg-preview.png" alt="">
                                        <a href="">in</a>
                                    </div>
                                    <div class="name-instructor">
                                        <b>wilondja ebuela wildor </b>
                                        <p>senior web develloper</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- student feedback -->

                    
                    <div class="student-feed-back-content">
                        <div class="students-feed-back">
                            <div class="feed-back">
                                <h3>Students Feedback</h3>
                                <div class="other-feed">
                                    <a href="" class="left"><i class="bi bi-chevron-left"></i></a>
                                    <a href=""><i class="bi bi-chevron-right"></i></a>
                                </div>
                            </div> 
                            <div class="all-feed-back">
                                <div class="studens-testimoni">
                                    <div class="testimoni">
                                        <div class="imgs">
                                            <img src="../public/images/t.PNG" alt="">
                                        </div>
                                        <div class="test-desc">
                                            <div class="name-student">luckson premier</div>
                                            <small>DR Congo. kinshasa</small>
                                            <div class="star">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="avis-test">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                         Praesentium culpa iusto officent beatae modi.
                                         Voluptatum mollitia hic quos obcaecati consectetur!
                                    </div>
                                </div>
                                <div class="studens-testimoni">
                                    <div class="testimoni">
                                        <div class="imgs">
                                            <img src="../public/images/t.PNG" alt="">
                                        </div>
                                        <div class="test-desc">
                                            <div class="name-student">luckson premier</div>
                                            <small>DR Congo. kinshasa</small>
                                            <div class="star">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="avis-test">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                         Praesentium culpa iusto officent beatae modi.
                                         Voluptatum mollitia hic quos obcaecati consectetur!
                                    </div>
                                </div>
                                <div class="studens-testimoni">
                                    <div class="testimoni">
                                        <div class="imgs">
                                            <img src="../public/images/t.PNG" alt="">
                                        </div>
                                        <div class="test-desc">
                                            <div class="name-student">luckson premier</div>
                                            <small>DR Congo. kinshasa</small>
                                            <div class="star">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="avis-test">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                         Praesentium culpa iusto officent beatae modi.
                                         Voluptatum mollitia hic quos obcaecati consectetur!
                                    </div>
                                </div>
                            </div>
                            <div class="slide-feed">
                                <div class="slide first-slide">.</div>
                                <div class="slide second-slide">.</div>
                                <div class="slide third-slide">.</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </main>


    <!-- ######  footer ###### -->


    <footer>
        <div class="footer-container">
            <div class="news-letter-content">
                <div class="news-letter">
                    <h1>Newsletter.</h1>
                    <p>Subscrible our Newsletter for discounts and many more.</p>

                    <div class="input-search">
                        <input type="search" placeholder="Enter your email address" autocomplete="off">
                        <button type="submit" class="news-btn"><i class="bi bi-send"></i></button>
                    </div>
                </div>
            </div>
            <div class="footer-content">
                <div class="mono-course">
                    <h1>monoCourse</h1>
                    <p>Open an account in minutes and get full control for much longer</p>
                    <div class="our-address">
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-whatsapp"></i>
                    </div>
                </div>
              
                <div class="f-bar all-companies">
                    <h3>Company</h3>
                    <div class="ft-t company">
                        <div class="f-t about">
                            <a href="">About</a>
                        </div>
                        <div class="f-t career">
                            <a href="">Careers</a>
                        </div>
                        <div class="f-t mobil">
                            <a href="">Mobil</a>
                        </div>
                        <div class="f-t Blog">
                            <a href="">Blog</a>
                        </div>
                        <div class="f-t work">
                            <a href="">How we work</a>
                        </div>
                    </div>
                </div>
                <div class="f-bar our-contact">
                    <h3>Contact</h3>
                    <div class="ft-t contact">
                        <div class="f-t help">
                            <a href="">Help/Faq</a>
                        </div>
                        <div class="f-t press">
                            <a href="">Press</a>
                        </div>
                        <div class="f-t owners">
                            <a href="">Hotel owners</a>
                        </div>
                        <div class="f-t partners">
                            <a href="">Partners</a>
                        </div>
                    </div>
                </div>
                <div class="f-bar more-information">
                    <h3>More</h3>
                    <div class="ft-t more">
                        <div class="f-t fees">
                            <a href="">Ailine fees</a>
                        </div>
                        <div class="f-t fape">
                            <a href="">Law fape tips</a>
                        </div>
                        <div class="f-t Airlines">
                            <a href="">Airlines</a>
                        </div>
                        <div class="f-t certifications">
                            <a href="">Badges && certifications</a>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </footer>
  
</body>
</html>
