<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/javascript/script.js" defer></script> 
    <script src="../public/javascript/databaseFiles/feed.js" defer></script>
    <script src="../public/javascript/databaseFiles/instructor.js" async defer></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-contaier">
            <nav>
                <div class="list-icon-bar">
                    <i class="bi bi-list"></i>
                    <i class="bi bi-x"></i>
                </div>
                <div class="site-name">
                    <h1>monoCourse</h1>
                 </div>
                <ul class="nav-lists">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="./platform/course.html">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Setting</a></li>  
                </ul>
                <div class="btns-navigations">
                    <div class="see-btns">
                        <button><a href="">Sing in</a></button>
                        <button class="free-course"><a href="">Try for free</a></button>
                    </div>
                </div>
            </nav>
            <div class="thumbenail-content">
                <div class="thumbnail-princ">
                    <div class="thembenail">
                        <div class="thumb-desc">
                            <small>learn anythig online</small>
                            <h1>Professional Learing At Your Home</h1>
                            <p>Discover our extensive library of online courses covering various fields. Take courses at your own pace and earn recognized certifications.</p>
                            <div class="start-btn">
                                <p-t class="p-t"><small>Join the courses</small> <i class="bi bi-arrow-right"></i></p-t>
                                <a href="./platform/course.html">
                                <button type="button" class="started">Get started now</button>
                                </a>
                            </div>
                        </div>         
                    </div>
                    <div class="thumbenail-image">
                        <div class="ex-class-maker">
                            <div class="saw-about-advantage">
                                <i class="bi bi-arrow-up-left-circle-fill"></i>
                                <div class="advantages-course">
                                    <b>50G+</b>
                                    <p>Verification course</p>
                                </div>
                            </div>
                            <div class="saw-about-students">
                                <i class="bi bi-person-fill"></i>
                                <div class="advantages-study">
                                    <p>about student</p>
                                    <b>10K+</b>
                                    <div class="student-imgs">
                                        <img src="../public/images/191113-happyyoungemployee-stock.jpg" alt="">
                                        <img src="../public/images/young-black-female-student-with-books.png" alt="">
                                        <img src="../public/images/online-courses-what-students-want.jpg" alt="">
                                        <img src="../public/images/girl-watch.png" alt="">
                                        <img src="../public/images/free_online_class.jpeg.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="images">
                            <img src="../public/images/young-black-female-student-with-books-removebg-preview.png" alt="">
                        </div>
                        <div class="saw-about-class">
                            <img src="../public/images/free_online_class.jpeg.webp" alt="">
                            <div class="advantages-class">
                                <b>UI/UX Design class</b>
                                <p>Today ui design 00 pm</p>
                                <button>just now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="companies-content-support">
                <div class="companies-support">
                    <div class="support apple-support">
                        <img src="../public/images/Apple-removebg-preview.png" alt="">
                    </div>
                    <div class="support slake-support">
                        <img src="../public/images/slack-removebg-preview.png" alt="">
                    </div>
                    <div class="support phenix-support">
                        <img src="../public/images/phoennix-removebg-preview.png" alt="">
                    </div>
                    <div class="support google-support">
                        <img src="../public/images/Google-removebg-preview.png" alt="">
                    </div>
                    <div class="support dropbox-support">
                        <img src="../public/images/dropbox-removebg-preview.png" alt="">
                    </div>
                    <div class="support apple-support">
                        <img src="../public/images/Apple-removebg-preview.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>




    <div class="main-responsive-bar-container">
        <div class="main-resposive-bar ch-bg-color">
            <ul class="responsive-nav-lists responsive-nav">
                <div class="nav-l">
                    <i class="bi bi-house"></i>
                    <a href="../index.html">Home</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-journal-bookmark"></i>
                    <a href="" class="active">About</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-pencil-square"></i>
                    <a href="#">Blog</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-gear"></i>
                    <a href="#">Setting</a>
                </div>
            </ul>
            <div class="responsive-nav-lists other-nav-bar-lists">
                <div class="nav-l">
                    <i class="bi bi-person"></i>
                    <a href="">Badges && certifications</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-telephone"></i>
                    <a href="" class="active">Contacts</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-person-plus"></i>
                    <a href="#">How we work</a>
                </div>
                <div class="nav-l">
                    <i class="bi bi-question-circle"></i>
                    <a href="#">Help/Fag</a>
                </div>                             
            </div>
            <div class="sing-in-btn">
                <button class="singi-in">Sing in</button>
            </div>
        </div>
    </div>



    <!-- end responsive -->
    


    <!-- main -->

    <main>
        <div class="main-container">
            <div class="container">
                <div class="main-content">
                    <div class="way-start-learn">
                        <div class="simple-ways">
                            <h1>Simple 3 Way to Start learning</h1>
                            <p>Online education for your advantage.</p>
                        </div>

                        <div class="simple-creations">
                            <!-- Simple 3 Way to Start learning s'affichent par ici  -->
                        </div>
                    </div>

                    <div class="pop-course-category">
                        <h2>Popular category course</h2>
                        <div class="pop-category">
                        <!-- les categories s'affichent par ici -->
                        </div>
                    </div>
                </div>

                <div class="challenge-content">
                    <div class="main-thumb">
                        <div class="main-thum-desc">
                            <div class="main-thumbenail">
                                <div class="main-thumb-desc">
                                    <h1>Are your a certifide teacher then become a instructor</h1>
                                    <p>Discover our extensive library of online courses covering various fields. Take courses at your own pace and earn recognized certifications.</p>
                                </div>
                                <a href="">
                                    <button class="instructor-btn">Become a instructor </button>
                                </a>
                            </div>
                        </div>
                        <div class="main-thum-img">
                            <div class="graduate-course">
                                <h3>+3 milles <br>
                                    graduation courses
                                </h3>
                            </div>
                            <img src="../public/images/young-black-female-student-with-books-removebg-preview.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="most-pop-courses">
                    <div class="most-pop-title">
                        <h2>Most populary courses</h2>
                        <a href="#">Explore more course</a>
                    </div>
                    <div class="pop-courses">   
                        <!-- Tous les cours s'affiche par ici -->
                    </div>

                    <!-- our instructor -->
                    
                    <div class="instructor-content">
                        <div class="meet-instructor">
                            <div class="meet-our">
                                <h3>Meet our instructor</h3>
                                <div class="other-instructors">
                                    <button class="left"><i class="bi bi-chevron-left"></i></button>
                                    <button><i class="bi bi-chevron-right"></i></button>
                                </div>
                            </div>                  
                            <div class="meet-all-instructors">
                               <!-- tous les instructeurs sont inseres ici -->
                            </div>
                        </div>
                    </div>


                    <!-- student feedback -->

                    
                    <div class="student-feed-back-content">
                        <div class="students-feed-back">
                            <div class="feed-back">
                                <h3>Students Feedback</h3>
                                <div class="other-feed">
                                    <button class="left"><i class="bi bi-chevron-left"></i></button>
                                    <button><i class="bi bi-chevron-right"></i></button>
                                </div>
                            </div> 
                            <div class="all-feed-back">
                                <!-- les feedbacks s'affichent par ici -->
                            </div>
                            <div class="slide-feed">
                                <div class="slide first-slide">.</div>
                                <div class="slide second-slide">.</div>
                                <div class="slide third-slide">.</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </main>


    <!-- ######  footer ###### -->


    <footer>
        <div class="footer-container">
            <div class="news-letter-content">
                <div class="news-letter">
                    <h1>Newsletter.</h1>
                    <p>Subscrible our Newsletter for discounts and many more.</p>

                    <div class="input-search">
                        <input type="search" placeholder="Enter your email address" autocomplete="off">
                        <button type="submit" class="news-btn"><i class="bi bi-send"></i></button>
                    </div>
                </div>
            </div>
            <div class="footer-content">
                <div class="mono-course">
                    <h1>monoCourse</h1>
                    <p>Open an account in minutes and get full control for much longer</p>
                    <div class="our-address">
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-whatsapp"></i>
                    </div>
                </div>
              
                <div class="f-bar all-companies">
                    <h3>Company</h3>
                    <div class="ft-t company">
                        <div class="f-t about">
                            <a href="">About</a>
                        </div>
                        <div class="f-t career">
                            <a href="">Careers</a>
                        </div>
                        <div class="f-t mobil">
                            <a href="">Mobil</a>
                        </div>
                        <div class="f-t Blog">
                            <a href="">Blog</a>
                        </div>
                        <div class="f-t work">
                            <a href="">How we work</a>
                        </div>
                    </div>
                </div>
                <div class="f-bar our-contact">
                    <h3>Contact</h3>
                    <div class="ft-t contact">
                        <div class="f-t help">
                            <a href="">Help/Faq</a>
                        </div>
                        <div class="f-t press">
                            <a href="">Press</a>
                        </div>
                        <div class="f-t owners">
                            <a href="">Hotel owners</a>
                        </div>
                        <div class="f-t partners">
                            <a href="">Partners</a>
                        </div>
                    </div>
                </div>
                <div class="f-bar more-information">
                    <h3>More</h3>
                    <div class="ft-t more">
                        <div class="f-t fees">
                            <a href="">Ailine fees</a>
                        </div>
                        <div class="f-t fape">
                            <a href="">Law fape tips</a>
                        </div>
                        <div class="f-t Airlines">
                            <a href="">Airlines</a>
                        </div>
                        <div class="f-t certifications">
                            <a href="">Badges && certifications</a>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </footer>

    <!-- script -->

    <script src="../public/javascript/databaseFiles/home-course.js"></script>
    <script src="../public/javascript/databaseFiles/pop-category.js"></script>
  
</body>
</html>